<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.dryseed.module_widget">

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:name="com.easy.moduler.lib.okbus.BaseAppModuleApp"
            android:roundIcon="@drawable/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme" tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <service
                android:name="com.easy.moduler.lib.okbus.NoticeService"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="com.easy.moduler.lib.okbus.NoticeService"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </service>

        <activity android:name="com.dryseed.module_widget.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.dryseed.module_widget.statusbar.ImmersionBarActivity"
                android:label="StatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.WIDGET"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.dryseed.module_widget.statusbar.MyStatusBarActivity"
                android:label="MyStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.WIDGET"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.dryseed.module_widget.viewPager.viewPagerFragment.ViewPagerFragmentActivity"
                android:label="ViewPager/ViewPagerFragment">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.WIDGET"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.dryseed.module_widget.viewPager.noPreloadViewPager.NoPreloadViewPagerActivity"
                android:label="ViewPager/NoPreloadViewPager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.WIDGET"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.dryseed.module_widget.viewPager.pagerSlidingTabStrip.PagerSlidingTabStripActivity"
                android:label="ViewPager/PagerSlidingTabStrip">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.WIDGET"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.dryseed.module_widget.viewPager.advancedPagerSlidingTabStrip.AdvancedPagerSlidingTabStripActivity"
                android:label="ViewPager/AdvancedPagerSlidingTabStrip">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.WIDGET"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.dryseed.module_widget.viewPager.morePagerSlidingTabStrip.MoreAdvancedPagerSlidingTabStripActivity"
                android:label="ViewPager/MoreAdvancedPagerSlidingTabStrip">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.WIDGET"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.dryseed.module_widget.viewPager.test.TestWeightActivity"
                android:label="ViewPager/TestWeightActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.WIDGET"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.dryseed.module_widget.viewPager.pageTransformer.PageTransformerActivity"
                android:label="ViewPager/PageTransformer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.WIDGET"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.dryseed.module_widget.viewPager.test.TestMainPagerSlidingTabStripActivity"
                android:label="ViewPager/TestMainPagerSlidingTabStripActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.WIDGET"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.dryseed.module_widget.viewPager.linkedViewPager.baseViewPager.LinkedViewPagerActivity"
                android:label="ViewPager/LinkedViewPager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.WIDGET"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.dryseed.module_widget.viewPager.linkedViewPager.ultraViewPager.LinkedUltraViewPagerActivity"
                android:label="ViewPager/LinkedUltraViewPager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.WIDGET"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.dryseed.module_widget.viewPager.linkedViewPager.myViewPager.LinkedMyViewPagerActivity"
                android:label="ViewPager/LinkedMyViewPager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.WIDGET"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.dryseed.module_widget.viewPager.fragmentStatePagerAdapter.FragmentStatePagerAdapterActivity"
                android:label="ViewPager/FragmentStatePagerAdapter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.WIDGET"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.dryseed.module_widget.tabLayout.TabLayoutActivity"
                android:label="TabLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.WIDGET"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.dryseed.module_widget.popupWindow.PopupWindowActivity"
                android:label="PopupWindow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.WIDGET"/>
            </intent-filter>
        </activity>
    </application>

</manifest>