<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dryseed.module_widget">

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.dryseed.module_widget.statusbar.TestStatusBarActivity"
                android:label="Widget/StatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.TEST"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.dryseed.module_widget.statusbar.MyStatusBarActivity"
                android:label="Widget/MyStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.TEST"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.dryseed.module_widget.viewPager.viewPagerFragment.ViewPagerFragmentActivity"
                android:label="Widget/ViewPager/ViewPagerFragment">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.TEST"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.dryseed.module_widget.viewPager.noPreloadViewPager.NoPreloadViewPagerActivity"
                android:label="Widget/ViewPager/NoPreloadViewPager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.TEST"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.dryseed.module_widget.viewPager.pagerSlidingTabStrip.PagerSlidingTabStripActivity"
                android:label="Widget/ViewPager/PagerSlidingTabStrip">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.TEST"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.dryseed.module_widget.viewPager.advancedPagerSlidingTabStrip.AdvancedPagerSlidingTabStripActivity"
                android:label="Widget/ViewPager/AdvancedPagerSlidingTabStrip">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.TEST"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.dryseed.module_widget.viewPager.pageTransformer.PageTransformerActivity"
                android:label="Widget/ViewPager/PageTransformer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.TEST"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.dryseed.module_widget.viewPager.linkedViewPager.LinkedViewPagerActivity"
                android:label="Widget/ViewPager/LinkedViewPager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.TEST"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.dryseed.module_widget.viewPager.fragmentStatePagerAdapter.FragmentStatePagerAdapterActivity"
                android:label="Widget/ViewPager/FragmentStatePagerAdapter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.TEST"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.dryseed.module_widget.tablayout.TabLayoutActivity"
                android:label="Widget/TabLayout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.TEST"/>
            </intent-filter>
        </activity>
        <activity
                android:name="com.dryseed.module_widget.popupWindow.PopupWindowActivity"
                android:label="Widget/PopupWindow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.TEST"/>
            </intent-filter>
        </activity>
    </application>

</manifest>