<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.dryseed.dsdemo">

    <application
            android:allowBackup="true"
            android:name=".MyApplication"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".test.Main2Activity"
                android:label="Test/Main2Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.TEST"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".mvp.demo.LoginActivity"
                android:label="MVP/LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.TEST"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".arouter.ARouterActivity"
                android:label="ARouter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.TEST"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".test.TestActivity"
                android:label="Test/TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.TEST"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".test.TestGetTopActivity"
                android:label="Test/TestGetTopActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.TEST"/>
            </intent-filter>
        </activity>
    </application>

</manifest>