<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dryseed.module_view">

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".motionEvent.TestMotionEventActivity"
                android:label="View/MotionEvent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.TEST"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".zoomImage.ZoomImageActivity"
                android:label="View/ZoomImage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.TEST"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".dispatchEvent.TestDispatchEventActivity"
                android:label="View/DispatchEvent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.TEST"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".bezier.TestBezierActivity"
                android:label="View/Bezier">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="com.dryseed.dsdemo.TEST"/>
            </intent-filter>
        </activity>
    </application>

</manifest>